.input{
    font-size: $big-font-size;
    color: $color-primary;
    display: inline-block;
    background-color:$color-white;
    border: 2px solid $color-primary;
    padding-left: 1rem;
    margin-right: 2rem;
    border-radius: 10rem;

    &::placeholder{
        color: $color-primary;
    }
    &:focus{
        outline:none;
    }
}