<div class="container">
    <div class="head">
        <div class="container__img">
            <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkekx6HDUit5g3FZo2YjyeQOyipUDtzbzrNA&usqp=CAU" alt="test">
        </div>
        <div class="head__elements">
            <div class="head_main">
                <div class="text">
                    <h4 class="head__elements--header">{{ Project.name }}</h4>
                    <p class="head__elements--sub">Doha Arena Complex</p>
                </div>
                <div class="head__top--btn">
                    <button class="btn btn__match">+ Match</button>
                    <button class="btn u__margin__left u__border__bold">&dArr;</button>
                    <button class="btn u__margin__left u__border__bold">&uArr;</button>
                </div>
            </div>
            <div class="head__sub">
                <div class="head__sub--1">
                    <p class="head__sub--Tournament">Compition level : Tournement</p>
                    <p class="head__sub--gender">Gender : Men</p>
                </div>
                <div class="head__sub--2">
                    <p class="head__sub--date">Date : Nov 2022</p>
                    <p class="head__sub--Last"> Last updated 3 min ago</p>
                </div>
            </div>
        </div>
    </div>
    <div class="list">
        
        <div class="row">
            <p>Match 1</p>
            <p>Wed Mar 29 2022</p>
            <p class="arena">Arena A</p>
            <span class=" red equipe">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
            <span class=" blue equipe u__margin__small">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
        </div>
        
        <div class="row">
            <p>Match 2</p>
            <p>Wed Mar 29 2022</p>
            <p class="arena">Arena B</p>
            <span class=" red equipe">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
            <span class=" green equipe u__margin__small">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
        </div>
        
        <div class="row">
            <p>Match 3</p>
            <p>Wed Mar 29 2022</p>
            <p class="arena">Arena C</p>
            <span class=" red equipe">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
            <span class=" black equipe u__margin__small">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
        </div>
        
        <div class="row">
            <p>Match 4</p>
            <p>Wed Mar 29 2022</p>
            <p class="arena">Arena D</p>
            <span class=" red equipe">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
            <span class=" blue equipe u__margin__small">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
        </div>
        
        <div class="row">
            <p>Match 5</p>
            <p>Wed Mar 29 2022</p>
            <p class="arena">Arena A</p>
            <span class=" red equipe">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
            <span class=" blue equipe u__margin__small">
                <p>Equipe Red</p>
                <p class="equipe__number">4</p>
            </span>
        </div>
    </div>
</div>

            
        