<div class="row">
  <div class="col-1-of-4 u-margin-right-small">
    <img
      class="img"
      src="https://4kwallpapers.com/images/wallpapers/windows-11-stock-sunset-orange-blue-background-1284x2778-8966.png"
      alt="test"
    />
  </div>
  <div class="col-3-of-4">
    <div class="details">
      <div class="row u-margin-bottom-null">
        <div class="details__header">
          <h4 class="heading-secondary">{{ Project.name }}</h4>
        </div>
        <div class="details__actions">
          <button class="btn btn--white btn--animated">+ Match</button>
          <button class="btn btn--white btn--animated">&dArr;</button>
          <button class="btn btn--white btn--animated">&uArr;</button>
        </div>
      </div>
      <div class="row u-margin-bottom-small">
        <p class="heading-sub">Doha Arena Complex</p>
      </div>
      <div class="row u-margin-bottom-null">
        <div class="row u-margin-bottom-null">
          <p class="details__text">Compition level : Tournement</p>
          <p class="details__text">Gender : Men</p>
        </div>
        <div class="row">
          <p class="details__text">Date : Nov 2022</p>
          <p class="details__text">Last updated 3 min ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="row u-margin-bottom-small details-animation">
    <div class="details__card">
      <p>Match 1</p>
      <p>Wed Mar 29 2022</p>
      <p>Arena A</p>
      <span class="team-1 details__card-team">
        <p>Equipe 1</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
      <span class="team-2 details__card-team">
        <p>Equipe 2</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
    </div>
  </div>
  <div class="row u-margin-bottom-small details-animation">
    <div class="details__card">
      <p>Match 1</p>
      <p>Wed Mar 29 2022</p>
      <p>Arena A</p>
      <span class="team-1 details__card-team">
        <p>Equipe 1</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
      <span class="team-3 details__card-team">
        <p>Equipe 3</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
    </div>
  </div>

  <div class="row u-margin-bottom-small details-animation">
    <div class="details__card">
      <p>Match 1</p>
      <p>Wed Mar 29 2022</p>
      <p>Arena A</p>
      <span class="team-1 details__card-team">
        <p>Equipe 1</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
      <span class="team-3 details__card-team">
        <p>Equipe 3</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
    </div>
  </div>
  
  <div class="row u-margin-bottom-small details-animation">
    <div class="details__card">
      <p>Match 1</p>
      <p>Wed Mar 29 2022</p>
      <p>Arena A</p>
      <span class="team-1 details__card-team">
        <p>Equipe 1</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
      <span class="team-2 details__card-team">
        <p>Equipe 2</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
    </div>
  </div>

  <div class="row u-margin-bottom-small details-animation">
    <div class="details__card">
      <p>Match 1</p>
      <p>Wed Mar 29 2022</p>
      <p>Arena A</p>
      <span class="team-1 details__card-team">
        <p>Equipe 1</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
      <span class="team-2 details__card-team">
        <p>Equipe 2</p>
        <div class="details__card-score">
          <p>4</p>
        </div>
      </span>
    </div>
  </div>

</div>
