.List__container {
    width: 40%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}

:host{
    height: 100%;
}

.List {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    border: 1px solid rgb(157, 156, 156);
    overflow: hidden;
}

.Details {
    display: table-cell;
    width: 60%;
    height: 100%;
}

.container {
    display: table;
    width: 100%;
}

li{
    border-bottom: 1px solid rgb(157, 156, 156);
}

li:last-child {
    border-bottom: none;
}